<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Slow Journey to Full-stack</title>
    <link rel="stylesheet" href={{ "assets/styles.css" | relative_url }} />
    <link rel="stylesheet" href={{ "assets/normalize.css" | relative_url }} />
  </head>
  <body>
    <div class="nav-bar">
      <a href="/">Home</a>
    </div>
    {{ content }}
    <footer>
      &copy;Journey-Dev 2020
    </footer>
  </body>
</html>
